.suggestions-container{
  width: 50vw;
  height: auto;
  color: black;
  font: 400 1.4vw Montserrat;
  margin: 0 auto 0 auto;
  display: block;
  padding: 10px; 
          
}
.suggestion{
  cursor: pointer;
}
#places{
  width: 50vw;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  
}
#places button{
  color: rgb(201, 201, 201)
}
